# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
# I wouldn't recommend putting environment and sensitive config files in a file such as this
# If you need to store environment variables / config in VCS, use ansible-vault to encrypt a variables file
# But they're here for ease of deployment setup for the sake of the workshop
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     app_uat
    database_user:     app_uat_user
    database_password: password
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            TyVpQQJp74QrAgnnQdW7UPFVK7muXVZV
