# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     {{ database_name }}
    database_user:     {{ database_user }}
    database_password: {{ database_pass }}
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # With versioned deployments, this file would likely be shared between releases
    # this is so that encryption doesn't break between releases
    secret:            TyVpQQJp74QrAgnnQdW7UPFVK7muXVZV
